/* custom css file made by JeanDoe */

:root{
	--main-clr: #8c8;
	--white: #fff;
	--black: #1a1b1c;
	--light-clr: #7a7b7c;
	--light-bg: #e1f1d1;
	--red: #ff4754;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body{
	background: var(--light-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Ubuntu Mono', sans-serif;
}

/* header section starts */
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-direction: column;
	max-width: 15rem;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: var(--white);
}
.header .logo{
	font-size: 1.2rem;
	color: var(--main-clr);
	text-transform: capitalize;
}
.header .sidebar{
	width: 90%;
}
.header .sidebar a{
	display: block;
	padding: .3rem;
	text-transform: uppercase;
	color: var(--black);
	text-align: center;
	border: 1px solid var(--black);
	margin: .2rem;
	width: 100%;
}
.header .sidebar a{
	
}



